p {
  text-align: center;
  color: white;
  margin-bottom: 0;
  margin-top: 0;
}

#update-button {
  margin: 0 auto;
}

#name-input {
  margin: 0 auto;
}

#grey-box {
  background-color: rgb(216, 205, 205);
  padding: 5px 3px;
  width: 250px;
  margin: 0 auto;
}

.tag {
  background-color: red;
  width: 250px;
  border-radius: 10px;
  padding-bottom: 20px;
  color: white;
  font-family: sans-serif;
}

.hello {
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 0;
  font-weight:bolder
}

/* .my-name-is {
  margin-top: 0;
  margin-bottom: 0;
} */

#name-display {
  background:white;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Ephesis;
}

.faded {
  opacity: 0.5;
}




